// Colours

$zooplaPurple:          #8046F1;
$darkPurple:            #322744;
$grey:                  #76767c;
$darkGrey:              #444;
$darkRed:               #bb1616;
$darkGreen:             #256125;


// Widths

$wrapperWidth:          1000px;
$mobileMaxWidth:        480px;